@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@keyframes anim{
  0%{
      transform: translateY(0%);
  }
  100%{
      /* transform: translateY(200%); */
      transform: translateY(500%);
  }
}

@keyframes back{
  0%{
      transform: translateY(500%);
  }
  50%{
    transform: translateY(-100%);
  }
  100%{
      transform: translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  overflow: hidden;
  font-family: 'Bangers', cursive;
}

section {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.wrapper {
  position: relative;
  display: table;
  width: 80%;
  max-width: 1360px;
  height: 100%;
  line-height: 32px;
}

.box {
  margin: 32px 0;
}

.center {
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* separar o css principal do mooncake */


.chookity {
  font-size: 63px;
  color: black;
  position: absolute;
  top: 40%;
  left: 58%;
  z-index: 4;
  transform: rotate(-21deg);
  display: none;
}

.mooncake {
  display: grid;
  width: 230px;
  cursor: pointer;  
}

.mooncake.surprise {
  animation: anim 1s forwards;
  animation-delay: 1s;
}

.mooncake.back {
  animation: back 1s both;
  animation-delay: 1s;
}

.antenas {
  z-index: 3;
  width: 230px;
}

.antena {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79px;
}

.antena.direita {
  transform: rotate(30deg);
  margin: 0px 0 -19px -2px;
  float: right;
}

.antena.esquerda {
  transform: rotate(-30deg);
  margin: 0px 0 -19px -2px;
}

.antena-superior {
  width: 12px;
  height: 12px;
  background-color: #a8ff7d;
  border-radius: 50%;
  position: relative;
  margin: -2px;
  border: 1px solid black;
  z-index: 2;
}

.antena-inferior {
  background-color: #a8ff7d;
  width: 5px;
  height: 50px;
  border: 1px solid black;
  border-top: 0;
  border-bottom: 0;
  border-radius: 30% 30% 0 0;
  z-index: 3;
}

.borda-externa {
  width: 350px;
  height: 309px;
  position: absolute;
  border: 60px solid white;
  border-radius: 50%;
  top: -20px;
  left: -60px;
  z-index: 1;
}

.borda-interna {
  width: 230px;
  height: 190px;
  position: absolute;
  border: 1px solid;
  color: black;
  z-index: 4;
  border-radius: 50%;
}

.bolinha {
  border-radius: 80% 80% 75% 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-color: #a8ff7d;
  width: 230px;
  height: 190px;
  border-radius: 80% 80% 75% 75%;
  border: 0.1px solid black;
}

.sombra-verde {
  position: absolute;
}

.sombra-verde.clara {
  width: 230px;
  height: 190px;
  border-top: 21px solid #d0ffbd;
  transform: rotate(-18deg);
  border-radius: 80% 80% 75% 75%;
  top: 35px;
  left: -11px;
  z-index: 0;
}

.sombra-verde.escura {
  width: 224px;
  height: 182px;
  position: absolute;
  border-radius: 48% 83% 56% 84%;
  border-bottom: 21px solid #74b668;
  transform: rotate(-20deg);
  bottom: -4px;
  left: 4px;
}

.brilho-sombra {
  position: absolute;
  background-color: white;
  border-radius: 50%;
}

.brilho-sombra.medio {
  width: 14px;
  height: 10px;
  transform: rotate(-19deg);
  top: 65px;
  left: 51px;
}

.brilho-sombra.pequeno {
  width: 26px;
  height: 19px;
  transform: rotate(-14deg);
  top: 53px;
  left: 68px;
}

.rostinho {
  display: flex;
  width: 78%;
  justify-content: space-between;
}

.olho {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 1s;
  transform: translateX(0) scale(1);
}

.olho.surprise {
  /* zoom: 120%; */

  transform: translateX(0) scale(1.2);
}

.pupila {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  transition: transform 1s;
  transform: translateX(0) scale(1);
}

.pupila.surprise {
  transform: translateX(0) scale(1.5);
}

.pupila.direita {
  margin-left: 5px;
}

.pupila.esquerda {
  margin-right: 5px;
}

.brilho-olho {
  background-color: white;
  border-radius: 50%;
  
}

.brilho-olho.medio {
  width: 9px;
  height: 9px;
  margin: 5px 3px 0 2px;
}

.brilho-olho.pequeno {
  width: 5px;
  height: 5px;
  margin-top: 11px;
}

.boca {
  width: 26px;
  height: 20px;
  background-color: #a8ff7d;
  margin: 38px 0;
  align-self: center;
  border-bottom: 3px solid black;
  border-radius: 50%;
  transition: transform 1s;
  transform: translateX(0) scale(1);
}

.boca.surprise {
  width: 36px;
  height: 30px;
  border: 1px solid black;
  background-color: #b1065d;
  transform: translateX(0) scale(1.2);
}

.patinhas {
  display: flex;
  justify-content: space-between;
  width: 230px;
}

.patinha {
  width: 57px;
  height: 47px;
  background-color: #a8ff7d;
  border: 1px solid black;
  margin: -35px 26px;
  z-index: 4;
}

.patinha.direita {
  border-radius: 56% 38% 50% 50%;
  transform: rotate(21deg);
}

.patinha.esquerda {
  border-radius: 42% 35% 50% 50%;
  transform: rotate(-21deg);
}
