@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:wght@400;600;700;800;900&display=swap');

/* font-family: 'Bebas Neue', cursive;
font-family: 'Playfair Display', serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  color: #6a6a6a;
}

nav {
  font-family: 'Bebas Neue', cursive;
  height: 8rem;
  letter-spacing: 8px;

  background-color: white;
  display: flex;
  align-items: flex-end;
  font-weight: 500;

  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 25px;
}

nav img {
  border-radius: 50%;
  position: relative;
  top: 20%;
  width: 110px;
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 0 85px;
  list-style-type: none;
}

nav .me {
  display: none;
}

a {
  text-decoration: none;
  color: #151a39;
  font-size: 22px;
  margin: 0 15px;
}

.left {
  width: 45%;
  display: flex;
  margin: 0 auto 1vw;
}

.center {
  width: 10%;
  display: flex;
  justify-content: center;
}

.right {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto 1vw;
}

section {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 12rem;
  padding-bottom: 5rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-bottom: 15px;
  color: #a0346c;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.2rem;
}

p {
  font-size: 24px;
  margin: 12px 0;
}

span {
  font-size: 24px;
  margin: 32px 0;
}

.about {
  font-size: 30px;
  margin: 20px 0;
  font-weight: 700;
  line-height: 40px;
}

.wrapper {
  width: 100%;
}

.company {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.company h3,
.company h4 {
  margin: 0 30px;
}
.skills-group {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}
.skill {
  border: 2px solid #6a6a6a;
  background-color: #f5f5f5;
  padding: 4px 8px;
  font-family: 'Bebas Neue', cursive;
  margin: 12px;
  letter-spacing: 0.1rem;
}

.skill.minor {
  opacity: 0.7;
}

::selection {
  background-color: #a0346c;
  color: white;
}

.mt42 {
  margin-top: 42px;
}

.menu-mobile {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  nav {
    letter-spacing: 6px;
    height: 6rem;
  }

  nav img {
    width: 90px;
  }

  section {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
  }

  a {
    font-size: 18px;
    margin: 0 6px;
  }

  p {
    font-size: 20px;
    margin: 6px 0;
  }

  h1 {
    font-size: 36px;
    margin-bottom: 4px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  nav {
    /* letter-spacing: 6px;
    height: 6rem; */
    flex-direction: column;
    align-items: flex-start;
    height: 13rem;
    padding: 0 35px;
    top: 55px;
    z-index: 3;
    display: none;
  }

  nav img {
    /* width: 90px; */
    display: none;
  }

  nav .me {
    text-decoration: none;
    color: #151a39;
    font-size: 22px;
    display: block;
    margin: 0;
  }

  nav a {
    margin: 5px;
  }

  section {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .center {
    width: 45%;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    width: 100%;
  }
  .left {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .right {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  a {
    font-size: 22px;
    margin: 0;
  }

  p {
    font-size: 18px;
    margin: 4px 0;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 2px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 14px;
  }

  h4 {
    font-size: 14px;
  }
  .company h3,
  .company h4 {
    margin: 0 5px;
  }

  .about {
    font-size: 22px;
    margin: 10px 0;
    font-weight: 600;
    line-height: 28px;
  }

  .skills-group {
    margin: 50px 0;
    zoom: 80%;
  }
  .skill {
    margin: 6px;
  }

  .menu-mobile {
    height: 60px;
    width: 100%;
    padding: 14px 24px;
    display: flex;
    position: fixed;
    background-color: white;
  }
}
